<!DOCTYPE html>
<html lang="en">
<head>
    <title>|By Nal'aina</title>
    <meta charset="UTF-8">
    <link rel="icon" href="../publcs/image/Logos/logohome.png" type="image/x-icon">
    <link rel="shortcut icon" href="../publcs/image/Logos/logohome.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../publcs/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../publcs/css/bootstrap/bootstrap.min.css.map">
    <link rel="stylesheet" href="../publcs/css/style/game.css">
    <link rel="stylesheet" href="../publcs/css/icons/all.css">
</head>
<body>
    <header id="Header">
        <!-- ************************** Scroll Bar  ***************************** -->
        <div class="scroll_bar">
            <a href="#Header">
                <img class="logo" src="../publcs/image/Logos/logo_bat_flèche.png" alt="">
            </a>
            <div class="logo_social">
                <i class="ico fab fa-facebook-square"></i>
                <i class="ico fab fa-instagram"></i>
                <i class="ico fab fa-twitter"></i>
            </div>
            <a href="#Footer">
                <img class="logo" src="../publcs/image/Logos/logo_bat_flèche_2.png" alt="">
            </a>
        </div>
        <!-- ********************* Barr de navigation *********************** -->
        <nav class="Border">
            <a href="./index.html">
                <img class="logo" src="../publcs/image/Logos/logohome.png" alt="Logo Batman">
            </a>
            <ul>
                <li>
                    <a class="actif" href="../index.html">home</a>
                </li>
                <li class="game">
                    <a class="actif" href="#game.html">game</a>
                </li>
            </ul>
        </nav>
        <!-- ********************* Section Game *********************** -->
        <div class="container-fluid Border">
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <h1>let's play a little game...</h1>
                    </div>
                </div>
            </div>
            <img src="../publcs/image/Logos/flèche_down_header.png" alt="">
        </div>
    </header>
        <!-- ************************** Section Game  ***************************** -->
    <main>
        <section id="game">
            <div class="row Border">
                <div class="col-12 game">
                    <h1>connaissez vous bien le chevalier noir ?</h1>
                    <img src="../publcs/image/Illustrations_2/Batgame_2.png" alt="">
                    <button type="submit" class="btn" id="btn-start">démarrer le quiz</button>
                </div>
            </div>
        </section>
    </main>
        <!-- **************************  Section  Footer  ***************************** -->
    <footer id="Footer">
        <div class="container-fluid Border pt-5">
            <div class="row text_footer">
                <img src="../publcs/image/Logos/icon_WB.png" alt="">Ce projet respecte l’univers cinématographique 
                des films Batman récents. Version Nolan & Snyder & Reeves
            </div>
            <div class="media_social">
                <a href="" class="social_media">
                    <img src="../publcs/image/Logos/logo_sayna_white.png" alt="">
                    <img src="../publcs/image/Logos/icon_x.png" alt="">
                    <img src="../publcs/image/Logos/icon_DC.png" alt="">
                </a>
                <a href=""><i class="ico fab fa-facebook-square"></i></a>
                <a href=""><i class="ico fab fa-instagram"></i></a>
                <a href=""><i class="ico fab fa-twitter"></i></a>
            </div>
        </div>
    </footer>
    <script src="../publcs/js/bootstrap/bootstrap.min.js"></script>
    <script src="../publcs/js/bootstrap/bootstrap.min.js.map"></script>
    <script src="../publcs/js/icons/all.js"></script>
</body>