@font-face {
    font-family: 'Rajdhani';
    src: url(../../fonts/Rajdhani.ttf);
}

@font-face {
    font-family: 'Space_Grotesk_Bold';
    src: url(../../fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Space_grotesk_Regular';
    src: url(../../fonts/SpaceGrotesk-Regular.ttf);
}