$white: #fff;
$black: #000;
$black_opacity: #0d0e09;
$yellow: #ff0;
$yellow_opacity: #f8f184;
$bleu: #19587d;
$red: #b11313;
$btn_white: #eddebf5e;
$btn_white_hover: #eddebf;
$btn_grey: #19587d;
$btn_red: #8900095d;
$btn_red_hover: #890009;
$grey: #c4c4c4;
$border_color: #bcbbbd1e;
$bleu_bg: #19587d54;
$btn_bg: #eddebf36;